* { margin: 0; padding: 0; box-sizing: border-box; font-size: xx-large; }
body { font: 13px Helvetica, Arial; }
form { padding: 3px; position: relative; bottom: 0; width: 100%; overflow: auto; border-style: solid;}
form input { border: 0; padding: 10px; width: 80%;}
form button { width: 300px; background: rgb(130, 224, 255); border: none; padding: 50px; float:right; border-style: solid; font-weight: bolder;}
h2 {background-color: rgb(224,224,224);}

#messages { list-style-type: none; margin: 0; padding: 0;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages, #quizzers { margin-bottom: 40px;}
#a {font-weight: bolder;}
#ans {color: red;}
#q {color: blue;}

.quizzers {color: green;}
.quizzers:nth-child(odd){border-color: rgb(255,192,192);}
.brb {height: 140px; width : 300px; float: right; color: red; font-weight: bolder; padding: 5px; background: rgb(130, 224, 255); border-style: solid;}
.fullwidth{width: 100%; overflow: auto;}
.result {padding-right: 30px;}
.result:nth-child(odd) {background-color: rgb(192,255,192);}
.question {font-size: xx-large; color: red; background-color: rgb(128,255,128);}
.ready {background: rgb(0,255,0);  font-size: xx-large; color: red;}
.pressed {background: rgb(255,128,128);  font-size: xx-large; color: red;}
.chat {background: rgb(128,128,255);}

